.frameChild {
  position: absolute;
  top: 836px;
  left: 919px;
  background-color: #d9d9d9;
  width: 1178px;
  height: 673px;
}
.rectangleParent {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2064px;
  overflow: hidden;
}
